html,
body {
  height: 100%;
  margin: 0;
}

.main.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.main.box .row.header {
  flex: 0 1 auto;
}

.main.box .row.content {
  flex: 1 1 auto;
}

.main.box .row.footer {
  flex: 0 1 40px;
}